<% if message.user? %>
  <div id="<%= dom_id message %>" class="border border-gray-400 rounded-t-lg rounded-l-lg p-2 self-end ml-3">
    <%= message.content %>
  </div>
<% else %>
  <div id="<%= dom_id message %>" class="border border-gray-400 rounded-t-lg rounded-r-lg p-2 self-start mr-3">
    <%= message.content %>
  </div>
<% end %>
